html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

#outerdiv {
  height: 100%;
}

#outerdiv > div {
  display: inline-block;
}

#rightdiv {
  width: 15%;
  height: 100%;
  vertical-align: top;
  border-left: 0.5px solid dimgrey;
}

#leftdiv {
  border-right: 0.5px solid dimgrey;
  width: 15%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}

#leftdiv table, #rightdiv table {
  width: 100%;
  padding: 4px;
  text-align: center;
}

#leftdiv input, #rightdiv input {
  width: 100%;
}

#randomize_angles_bt, #reset_angles_bt {
  font-size: 24px;
  cursor: default;
  text-align: center;
  display: inline;
}

#angles_table input {
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
}

#angles_table td:nth-child(1) {
  padding: 4px;
  white-space: nowrap;
}

#angles_table td:nth-child(2) {
  text-align: right;
  margin-right: 0;
  padding-right: 0;
  margin-left: 4px;
  cursor: default;
  vertical-align: middle;
}

#angles_table td:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}

#angles_table td:nth-child(4) {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  margin-right: 4px;
  cursor: default;
  vertical-align: middle;
}

#angles_table td:nth-child(5) {
  padding: 4px;
}

#maindiv {
  text-align: center;
  width: 69%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#cmain {
  width: 100%;
  height: 100%;
}
